body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  font-family: 'Lato', sans-serif;
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  background-color: transparent;
  color: green;
  border-radius: 0;
  border-bottom: 10px solid black;
}

